[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = true

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none
